.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 50%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.form-login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.bottom-sign {
    position: relative;
    display: flex;
    justify-content: center;
}

.error-text {
    position: relative;
    display: flex;
    justify-content: center;
}


.container-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 476px;
    height: 727px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    border: solid rgba(0, 0, 0, 0.10) 1px;
    padding: 30px;
}

.container-logo img {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}

.container-title {
    width: 100%;
    text-align: center;
}

.container-title h4 {
    font-size: 25px;
}

@media screen and (max-width: 476px){
    .container-login {
        width: 75%;
        height: 80%;
        /*min-height: 450px;*/
    }
}

@media screen and (max-height: 476px){
    .container-login {
        width: 75%;
        height: 80%;
        /*min-height: 450px;*/
    }

    .container-logo img {
        position: relative;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 17%;
    }

    .form-container {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .container-title h4 {
        font-size: 5vmin;
    }

    .form-login {
        justify-content: space-between;
        height: 100%;
    }

    .bottom-sign {
        margin-left: 3%;
    }

    .error-text {
        text-align: center;
        margin-left: 3%;
    }
}