.post-container {
    position: absolute;
    margin: 1%;
    width: 58%;
}

.new-post-form-container {
    position: fixed;
    right: 0;
    width: 39%;
    margin: 1%;
}

.container-home {
    margin: 70px auto 0 auto;
}

.dataMarkup {
    display: flex;
    flex-wrap: wrap;
}

.container-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .dataMarkup {
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
    }
}