.button-container {
    position: relative;
    right: 0;
}

.container-img-logo img {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.container-time {
    position: relative;
    text-align: center;
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 100em;
}

.container-text-field-post {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .container-img-logo img {
        width: 65%;
    }

    .container-time {
        display: none;
    }
}