.card {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 10px;
    /*width: 100%;*/
}

.MuiPaper-rounded {
    border-radius: 10px;
}

.form {
    height: 100%;
}

.container-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-button {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-information {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-right: 10px;
    align-content: space-between;

}

.container-information span {
    font-size: 1.5vmin;
}

@media screen and (max-width: 600px){
    .card {
        /*width: 100%;*/
        margin: 10px;
    }
}